@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");

.App {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 120px;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  font-family: 'Sora';
}
.heading {
  font-size: 35px;
}
.container {
  box-sizing: border-box;
  height: 250px;
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
}
.options-container {
  height: 250px;
  width: 350px;
  display: flex; 
  justify-content: space-between;
  align-items: center;
}
input {
  padding: 0px 0px 0px 8px;
  font-size: 20px;
  height: 38px;
  border: 1px solid #ccc;
  font-family: 'Sora';
}
input::placeholder {
  color: #333;
  font: 16px;
}
.middle,
.right {
  width: 120px;
}
.dropdown {
  height: 42px;
  padding-bottom: 2px;
}
.switch {
  padding: 5px;
  margin-top: 58px;
  background-color: rgb(226, 252, 184);
  border-radius: 50%;
  cursor: pointer;
}
.result {
  box-sizing: border-box;
  width: 800px;
  padding-left: 30px;
}
p,
h3,
button,
.switch {
  color: forestgreen;
}
p {
  font-size: 30px;
}
.convert-btn {
  width: 150px;
  height: 40px;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid forestgreen;
  border-radius: 10px;
  background-color: rgb(226, 252, 184);
  cursor: pointer;
  font-family: 'Sora';
}
.amount-title {
 font-size: 19px;
}
.amount-result {
 margin: 15px 0;
}
